<html>
  <head>
    <meta charset="utf-8" />
    <title>Hacker News</title>
  </head>
  <body>
    {% if session %}
        <h1>Welcome Admin {{session.userinfo.name}}!</h1>
          <header>
      <nav id="n1">
         <a href="https://www.noahwilliamshaffer.com/news">News</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/logout">Logout</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/UserProfiles">Admin</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/Profile">Profile</a> &nbsp;&nbsp;

      </nav>
  </header>
  <div id="contactform">
<h1> UserProfiles</h1>
<table>
{% for item in items %}
<tr>
        <td> <form class "grid" action ="/UserProfiles" method = "POST">
         <center>
        </center>
        <input type="hidden" value={{item[0]}} name="email">
            <input type="submit" name="like"  value="{{item[0]}}">
        </form> </td>
</td>
{% endfor %}

  </div>
       
    {% else %}
        <h1>Welcome Guest</h1>
        <p><a href="/login">Login</a></p>
    {% endif %}
  </body>
</html>

