<html>
  <head>
    <meta charset="utf-8" />
    <title>Hacker News</title>
  </head>
  <body>
    {% if session %}
         <header>
      <nav id="n1">
        <a href="https://www.noahwilliamshaffer.com/news">News</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/logout">Logout</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/UserProfiles">Admin</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/Profile">Profile</a> &nbsp;&nbsp;
      </nav>
  </header>
	<h1>Welcome {{session.userinfo.name}}!</h1>
	
  <div id="contactform">
</div>

    {% else %}
        <h1>Welcome Guest</h1>
        <p><a href="/login">Login</a></p>
    {% endif %}
  </body>
</html>
