<!DOCTYPE html>
<!--latest update 09/29/22-->
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <title>HACKER NEWS</title>
</head>
<body style="background-color:#f5f5f5">
  <header>
      <nav id="n1">
         <a href="https://www.noahwilliamshaffer.com/news">News</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/logout">Logout</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/UserProfiles">Admin</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/Profile">Profile</a> &nbsp;&nbsp;
      </nav>
       

 
	<h1> NEWS ARTICLES </h1>
	{% for x in range(0,30)%}
	<table style = "width :100%">
	<tr>
		
		<td><h3><a href="{{urls_arr[x]}}">{{titles_arr[x]}}</a></td>

	<td>
	<form id = "{{titles_arr[x]}}"  class "grid" action ="/liked" method = "POST">
            <input type="hidden" value='{{titles_arr[x]}}' name="title">
            <input type="hidden" value={{urls_arr[x]}} name="url">
            <input type="hidden" value=Welcome {{session.userinfo.name}}! name="name">
            <input type="hidden" value={{session.userinfo.email}} name="email">
	    <input type ="hidden" value ="LIKED" name = "U">
            <input type="submit" name="like"  value="like">
        </form>




	</td>
	<td>
	<form id = "{{urls_arr[x]}}" class "grid" action ="/disliked" method = "POST">
            <input type="hidden" value='{{titles_arr[x]}}' name="title">
            <input type="hidden" value={{urls_arr[x]}} name="url">
            <input type="hidden" value=Welcome {{session.userinfo.name}}! name="name">
            <input type="hidden" value={{session.userinfo.email}} name="email">
	    <input type ="hidden" value ="LIKED" name = "U">
            <input type="submit" name="dislike"  value="dislike">
        </form>
	

	</td>

	</tr>
	 </table>

   
	{% endfor%}
      </nav>



   
      </nav>
  </header>
  <div id="contactform">
</div>
</body>
</html>


