<!DOCTYPE html>
<!--latest update 09/29/22-->
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="Style.css">
  <title>ADMIN PAGE</title>
</head>
<body style="background-color:#f5f5f5">
  <header>
      <nav id="n1">
	   <a href="https://www.noahwilliamshaffer.com/news">News</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/logout">Logout</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/UserProfiles">Admin</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/Profile">Profile</a> &nbsp;&nbsp;
      </nav>
       	<h1>ADMIN PAGE</h1>
	<h1>Welcome Admin {{session.userinfo.name}}!</h1>
	 <h1>LIKED AND DISLIKED ARTICLES</h1>
	{% for item in items %}
	<table style = "width :100%">
<tr>
	<td> LIKED       ID: {{item[0]}} EMAIL: {{item[1]}} TITLE: {{item[2]}} URL: {{item[3]}}</td> 

	<td><form id = "{{item[0]}}" class "grid" action ="/removeLike" method = "POST">
         <center>
        </center>
        <input type="hidden" value="{{item[0]}}" name="id">
	<input type="submit" name="DELETE"  value="DELETE">
        </form> 
	</td>

</tr>

{% endfor %}






	{% for Ditem in Ditems %}
	<table style = "width :100%">
<tr>
        <td> DISLIKED	ID: {{Ditem[0]}} EMAIL: {{Ditem[1]}} TITLE: {{Ditem[2]}} URL: {{Ditem[3]}}</td> 

		<td><form id = "{{Ditem[1]}}" class "grid" action ="/removeDislike" method = "POST">
         <center>
        </center>
        <input type="hidden" value="{{Ditem[0]}}" name="id">
        <input type="submit" name="DELETE Dislike"  value="DELETE">
        </form>

</td>
</tr>
{% endfor %}
      </nav>   
      </nav>
  </header>
  <div id="contactform">
</div>
</body>
</html>

